.register-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.register-form-container {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-input {
  padding: 12px;
  margin: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  padding: 12px;
  margin: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#green-btn {
  background-color: #2249c6;
  color: #fff;
}

#grey-btn {
  background-color: #ddd;
  color: #444;
}
